.brand-color-1 {
  background-color: #484848;
}
.brand-color-2 {
  background-color: #545454;
}
.brand-color-3 {
  background-color: #f0f0f0;
}
.brand-color-4 {
  background-color: #3b3b3b;
}
.brand-color-5 {
  background-color: #706f70;
}
.brand-color-6 {
  background-color: #cccccc;
}
.brand-color-7 {
  background-color: #ffffff;
}
.brand-color-8 {
  background-color: #1f54c6;
}
.brand-color-9 {
  background-color: #f7f8c3;
}
.brand-color-10 {
  background-color: #eeeeee;
}
.brand-color-11 {
  background-color: #666666;
}
.brand-color-12 {
  background-color: #7b7b7a;
}
.brand-color-13 {
  background-color: #d5d5d5;
}
.brand-color-14 {
  background-color: #f5f5f5;
}
.brand-color-15 {
  background-color: #676767;
}
.brand-color-16 {
  background-color: #dcdada;
}
.brand-color-17 {
  background-color: #000000;
}
.brand-color-18{
  background-color: #bababa;
}
.brand-color-19 {
  background-color: #d9d9d9;
}


/*Temp*/
.swatches-list {
  list-style: none;
}

.swatches-list li {
  width: 20%;
  float: left;
  height: 100px;
  text-align: center;
  margin: 1px;
}

.swatch-color {
  width: 100%;
  height: 50px;
  display: block;
  margin-bottom: 5px;
}

