.brand-color-1 {
  background-color: #484848;
}
.brand-color-2 {
  background-color: #545454;
}
.brand-color-3 {
  background-color: #f0f0f0;
}
.brand-color-4 {
  background-color: #3b3b3b;
}
.brand-color-5 {
  background-color: #706f70;
}
.brand-color-6 {
  background-color: #cccccc;
}
.brand-color-7 {
  background-color: #ffffff;
}
.brand-color-8 {
  background-color: #1f54c6;
}
.brand-color-9 {
  background-color: #f7f8c3;
}