test/docs/*
dist
production.js
*.orig
docs.html
tmp
node_modules
site/static/
site/static/build/
site/static/dist/
site/templates/
lib/generate/test/out/
lib/configured/tmp/
lib/configured/test/tmp/
lib/configured/test/api/
lib/configured/test/docs/
lib/generators/html/test/tmp/
.DS_Store
.DS_Store?
