<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Footer</title>
    <link rel="stylesheet" href="/styles/static/bundles/static.css" />
    <style>
      .container {
        width: inherit;
      }
    </style>
</head>

<body class="style-demo">
  <footer>
    <nav class="container">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Guides</a></li>
        <li><a href="#">API</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Download</a> </li>
      </ul>
    </nav>
  </footer>
</body>