<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Header Bitovi Menu</title>
    <link rel="stylesheet" href="/styles/static/bundles/static.css" />
    <style>
      .container {
        width: inherit;
      }
      header .dropdown-menu {
        display: block;
        visibility: visible;
      }
    </style>
</head>

<body class="style-demo">
  <header>
    <nav class="container">
      <div class="pull-right">
        <div class="bitovi-menu">
          <a href="#" class="bitovi icon-bits">Bitovi</a>
          <ul class="dropdown-menu">
            <li><a href="#">Bitovi.com</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Consulting</a></li>
            <li><a href="#">Training</a></li>
            <li><a href="#">Open Source</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</body>