<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<title>JavaScriptMVC</title>		
        <link rel="stylesheet" type='text/css' href='<%= pathToRoot %>/documentjs/jmvcdoc/style.css' />
        <link rel="shortcut icon" href="<%= pathToRoot %>/documentjs/jmvcdoc/images/favicon.ico" />
	</head>
	<body>
	    
        <div id='documentation'>
	        <div id='top'>
                <div id='defaults'>
                	<input id='search' type='input' disabled='true'/>		
					<ul id="menu" class="ui-menu">
						<li class="ui-menu-item">
                    		<a href="#&amp;search=&#42;&amp;who=index">Home</a>
						</li>
						<li class="ui-menu-item">						
	                    	<a href="#&amp;search=core">Core</a>
						</li>
						<li class="ui-menu-item">						
	                    	<a href="#favorites">Favorites</a>
						</li>
						<li class="ui-menu-item">						
							<a href="http://javascriptmvc.com/#&who=follow" class="red" title="Follow">Follow</a>
						</li>
						<li class="ui-menu-item">						
							<a href="http://github.com/jupiterjs/framework" class="red" title="Code Repositories">Code Repositories</a>
						</li>
					</ul>
                    <div id='logo'>
                    	JavaScript
                    	<img src='../documentjs/jmvcdoc/images/logo.png' style="position: relative; top: 5px;left: 2px"/>
                    </div>
                    
                </div>
	        </div>
            
            <div id='bottom'>
                
            
                <div id='left'>
                    <a>Loading ... </a>
                </div>
                <div id='doc_container'>
                    <div id='doc'>
                        <%= this.indexPage ? this.indexPage.real_comment : "Add a page named 'index' to see something here." %>
                    </div>
					<div id="disqus_thread"></div>
                </div>
            </div>
        </div>
        <div id='low'>
            <a href="http://jupiterit.com">&copy; Jupiter IT - JavaScriptMVC Training and Support</a>
        </div>
		<script type='text/javascript'>
            DOCS_LOCATION = "docs/" //adds searchData to this
        </script>
        <script type='text/javascript' 
                src='<%= pathToRoot %>/steal/steal.js?steal[app]=documentjs/jmvcdoc&steal[env]=production'>   
        </script>
	</body>
</html>