<div class="container api">
	{{#if showSidebar}}
	<nav class="sidebar">
		{{#if enableSearch}}
		<div class="search-wrapper">
			<div class="search">
				<input type="text"/>
			</div>
		</div>
		{{/if}}
		{{> menu.mustache}}
	</nav>
	{{/if}}
	<article class="content docs">
		{{#if showTitle}}
		<section class="title">
			{{> title.mustache}}
		</section>
		{{/if}}

		<section class="contents">
		</section>

		{{#if deprecated.length}}
			<section class='warnings'>
				{{#deprecated}}
					<div class='deprecated warning'>
						<h3>Deprecated {{version}}</h3>
						<div class='signature-wrapper'>
							{{{docLinks description}}}
						</div>
					</div>
				{{/deprecated}}
			</section>
		{{/if}}

		<section class="description">
			{{{docLinks description}}}
		</section>

		{{#if signatures}}
			{{#signatures}}
				<section class="signature">
					{{> signature.mustache}}
				</section>
			{{/signatures}}
		{{else}}
			{{#if types}}
			<section class='primary-options'>
				{{> types.mustache}}
			</section>
			{{/if}}
		{{/if}}
		
		{{#or params returns}}
			<section class="signature">
				{{> signature.mustache}}
			</section>
		{{/if}}
		

		{{#if body}}
		<section class="comment">
			{{{docLinks body}}}
		</section>
		{{/if}}

		{{#if api}}
		<section class="api">
			{{{apiSection}}}
		</section>
		{{/if}}
	</article>
</div>
{{#if debug}}
<script type="text/javascript">
	var docData = {{{debug}}};
</script>
{{/if}}
