<ul class="api cascading primary-grouping"> 
	{{#getActiveAndParents}}
		{{#each parents}}
		<li class="search-container active parent">
			<a class="sidebar-title" href="{{urlTo name}}" data-search="{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}">
				{{makeTitle}}
			</a>
		</li>
		{{/each}}
		{{#active}}
			<li class="search-container active">
			<a class="sidebar-title" href="{{urlTo name}}" data-search="{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}">
				{{makeTitle}}
			</a>
			{{> active-menu.mustache}}
		</li>
		{{/active}}
	{{/getActiveAndParents}}
</ul>
