{{#if children.length}}
<ul>
	{{#orderedChildren children}}
	{{^if hide}}
	<li class="search-container{{#if active}} active{{#children.length}} parent{{/children.length}}{{/if}}">
		<a class="{{type}}" href="{{makeHref name}}" data-search="{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}">
			{{getTitle}}
		</a>
	</li>
	{{/if}}
	{{/orderedChildren}}
</ul>
{{/if}}
