<div class="heading">
<h1>{{getTitle}}</h1>
	<ul class="tags">
		<li>{{type}}</li>
	</ul>
	
	{{#if title}}
	{{^if plugin}}
		<span class="module">{{name}}</span>
	{{/if}}
	{{/if}}
	{{#if plugin}}<span class="module">{{plugin}}</span>{{/if}}
</div>

<div class="sub-heading">
	{{#if types}}
	<h2><code>{{{makeTypesString types}}}</code></h2>
	{{/if}}
	<span class="inherits">{{#if inherits}}inherits: <a href="{{makeHref inherits}}">{{inherits}}</a>{{else}}&nbsp;{{/if}}</span>
</div>

<ul class="links">
	{{#if src}}
		<li><a href="{{sourceUrl src type line}}">source</a></li>
	{{/if}}
	{{#if download}}
		<li><a href="{{downloadUrl download}}">download</a></li>
	{{else}}
		{{#if plugin}}
		<li><a href="{{downloadUrl plugin true}}">download</a></li>
		{{/if}}
	{{/if}}
	{{#if test}}
		<li><a href="{{testUrl test}}">tests</a></li>
	{{/if}}
</ul>
<br />