{{#if children.length}}
<ul>
	{{#children}}
	{{^if hide}}
	<li class="search-container{{#children.length}} parent expanded{{/children.length}}{{#active}} active{{/active}}">
			<a class="{{type}}" href="{{makeHref name}}" data-search="{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}">
				{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}
			</a>
			{{#if children.length}}
				{{> submenu.mustache}}
			{{/if}}
	</li>
	{{/if}}
	{{/children}}
</ul>
{{else}}
{{^if hide}}
<li class="search-container {{#active}}active{{/active}}">
<a href="{{makeHref name}}" data-search="{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}">
	{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}
</a>
</li>
{{/if}}
{{/if}}
