{{#isConstructor}}
<ul class="search-container">
	{{#children}}
	{{#if children.length}}
		<li class="heading search-container">
			<span>{{type}}</span>
			{{> submenu.mustache}}
		</li>
	{{else}}
		{{> submenu.mustache}}
	{{/if}}
	{{/children}}
</ul>
{{/isConstructor}}
