<div class="container api">
	<nav class="sidebar">
		{{#if enableSearch}}
		<div class="search-wrapper">
			<div class="search">
				<input type="text"/>
			</div>
		</div>
		{{/if}}
		{{> menu.mustache}}
	</nav>
	<article class="content docs">
		<section class="title">
			{{> title.mustache}}
		</section>

		<section class="contents">
		</section>

		<section class="description">
			{{{docLinks description}}}
		</section>

		{{#signatures}}
		<section class="signature">
			{{> signature.mustache}}
		</section>
		{{/signatures}}

		{{#if types}}
		<div class='primary-options'>
			{{> types.mustache}}
		</div>
		{{/if}}

		{{#if body}}
		<section class="comment">
			{{{docLinks body}}}
		</section>
		{{/if}}

		{{#if api}}
		<section class="api">
			{{{apiSection}}}
		</section>
		{{/if}}
	</article>
</div>
{{#if debug}}
<script type="text/javascript">
	var docData = {{{debug}}};

	console.log(docData);
</script>
{{/if}}
