<ul class="api cascading">
	{{#menu}}
		{{#hasActiveChild}}
			{{#activeParents}}
				{{#each .}}
				<li class="search-container active parent">
					<a href="{{makeHref name}}" data-search="{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}">
						{{getTitle}}
					</a>
				</li>
				{{/each}}
			{{/activeParents}}

			{{#activeMenu}}
			<li class="search-container active">
				<a href="{{makeHref name}}" data-search="{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}">
					{{getTitle}}
				</a>
				{{> active-menu.mustache}}
			</li>
			{{/activeMenu}}
		{{/hasActiveChild}}

		{{^hasActiveChild}}
			<li class="search-container active parent">
				<a href="{{makeHref name}}" data-search="{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}">
					{{getTitle}}
				</a>
			</li>
			<ul class="projects">
			{{#orderedChildren children}}
				<li class="search-container">
					<a href="{{makeHref name}}" data-search="{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}">
						{{getTitle}}
					</a>
				</li>
			{{/orderedChildren}}
			</ul>
			
		{{/hasActiveChild}}
	{{/menu}}
</ul>
